<div class="container">
  <div class="row">
    <h2>Appointment web site</h2>

    <h3>
      In construction
      <i class="fas fa-exclamation-triangle"></i>
    </h3>

    <h3>for customers</h3>
      <p>informations</p>
      <p>take an appointment : <%= link_to"Create a new appointment", new_appointment_path %></p>
      <p>update an appointment</p>
      <p>delete an appointment</p>

    <h3>for application's owner</h3>
      <p>DRAFT : <%= link_to "Appointments list", appointments_path %> </p>
      <p>list all appointments for a day or all days</p>
      <p>validate or not an appointment?</p>
      <p>update an appointment</p>
      <p>...</p>
  </div>

</div>
