<div class="container">
  <div class="row">
    Dadou web site

    <h2>In construction</h2>
  </div>

  <div class="background">
      <%#= video_tag("test.m4v", controls: true, autobuffer: true, size: "600x600", autoplay: true, loop: true, controls: false)  %>
  </div>

  <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://www.challenges.fr/assets/img/2017/11/07/cover-r4x3w1000-5a01a3278b208-lamborghini-terzo-millennio-concept-10-jpg.jpg);">
  </div>

</div>
