<div class="container">
  <div class="row">
    Dadou web site

    <h2>In construction</h2>
  </div>

  <div class="background">
      <%= video_tag("test.m4v", controls: true, autobuffer: true, size: "600x600", autoplay: true, loop: true, controls: false)  %>
  </div>
</div>
